<form #addForm="ngForm">
  <div class="row">
    <div class="col-sm-6" *ngIf="selVehicle">
      <label for="plate">Veicolo selezionato</label>
      <input class="form-control" id="plate" disabled
             value="{{selVehicle.plate + ' - ' + selVehicle.brand + ' ' + selVehicle.model}}">
    </div>

    <div class="col-sm-6">
      <label for="deadline_date">Data scadenza</label>
      <input
        name="deadline_date"
        id="deadline_date"
        class="form-control"
        type="text"
        mwlFlatpickr
        [(ngModel)]="deadlineDate"
        [altInput]="true"
        [locale]="locale"
        dateFormat="Y-m-d"
        altFormat="d/m/Y"
        [allowInput]="true"
        placeholder="Non impostata">
    </div>
  </div>

  <div class="row mt10">
    <div class="col-sm-3">
      <label for="amount">Importo in &euro;</label>
      <input class="form-control" type="number" step="0.01" min="0" id="amount" name="amount"
             style="width: 100%;" [(ngModel)]="amount"
             (blur)="amount = utils.fixAmount(amount)"
             placeholder="330,10 €" required>
    </div>

    <div class="col-sm-3">
      <label for="paid">Pagato</label>
      <select id="paid" class="form-control" name="paid" [(ngModel)]="paid">
        <option value="false">NO</option>
        <option value="true">SI</option>
      </select>
    </div>

    <div class="col-sm-3">
      <label for="sixmonths">Semestrale</label>
      <select id="sixmonths" class="form-control" name="sixmonths" [(ngModel)]="sixmonths">
        <option value="false">NO</option>
        <option value="true">SI</option>
      </select>
    </div>
  </div>

  <div class="row mt10">
    <div class="col-sm-12">
      <button class="float-sm-right btn btn-success" [disabled]="!addForm.valid" (click)="sendSelVehicle()">SALVA
      </button>
    </div>
  </div>
</form>
