<div class="form_wrapper card m-0 mb-2">
  <form #uploadForm='ngForm' (submit)="submitForm()" enctype="multipart/form-data">
    <div class="container" [hidden]="providerObj">
      <div class="row">
        <div class="col-sm">
          <div class="mt-2 fakefile" style="position: relative">
            <input id="fileToUpload" type="file" name="file" ngModel (change)="getFiles($event)" size="50"
                   accept=".xml.p7m, .xml"/>
            <button class="button" [disabled]="!files || !files[0]" type="submit">Carica file</button>
          </div>
        </div>
      </div>
    </div>
    <div class="container" *ngIf="providerObj">
      <div class="row">
        <div class="col-sm-10">
          <div class="col-sm-12">
            <h5><strong>{{providerObj | uppercase}}</strong></h5>
          </div>
          <div class="col-sm-12" [hidden]="!(invoices[0].deadlines && invoices[0].deadlines.length > 0)">
            <div *ngFor="let invoice of invoices">
              <div *ngFor="let deadline of invoice.deadlines">
                <strong>{{deadline.paymentDets.importoPagamento | currency:'EUR':'symbol':'1.2-3':'it'}}</strong>
                tramite <strong>{{mode[deadline.paymentDets.modalitaPagamento]}}</strong>
                <ng-container *ngIf="deadline.paymentDets.dataScadenzaPagamento">
                  in data <strong>{{deadline.paymentDets.dataScadenzaPagamento | date:'dd/MM/yyyy'}}</strong>
                </ng-container>
                <ng-container *ngIf="deadline.paymentDets.iban">
                  sul conto IBAN: <strong>{{deadline.paymentDets.iban}}</strong>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-2" *ngIf="invoices[0].attachments">
          <a (click)="openBase64('Fattura ' + invoices[0].id, invoices[0].attachments[0]);">
            <img src="assets/images/invoice.png" alt="Premi qui per scaricare la fattura"
                 title="Premi qui per scaricare la fattura">
          </a>
        </div>
      </div>
      <button type="reset" class="button" (click)="resetForm(uploadForm)">Aggiungi nuova fattura</button>
    </div>
  </form>
</div>

<div [hidden]="!waitDiv">
  <div class="waitImg"></div>
</div>

<div [hidden]="!invoices || invoices.length === 0">
  <div *ngFor="let invoice of invoices; let i = index" class="card card_content mb-2">
    <h4 class="center">Fattura n.{{invoice.num_doc}} del {{invoice.data_doc | date:'dd/MM/yyyy'}}</h4>
    <div *ngFor="let dn of deliveryNotes[i]">
      <h6 class="center">{{dn}}</h6>
      <table class="redTable">
        <thead>
        <tr>
          <th>
            <input type="checkbox" name="all" [checked]="isAllChecked(itemsOrder[dn])"
                   (change)="checkAll($event, itemsOrder[dn])"/>
          </th>
          <th *ngFor="let c of orderColumns">{{c}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor='let order of itemsOrder[dn]'
            [ngStyle]="assignedOrders.includes(order.id) ? {'opacity':'0.5'} : null">
          <td><input type="checkbox" (change)="order.state = !order.state" [checked]="order.state"/></td>
          <td>{{order.name}}</td>
          <td>{{order.um | uppercase}}</td>
          <td>{{order.quantity}}</td>
          <td>{{order.price | currency: 'EUR':'symbol':'1.2-3':'it'}}</td>
          <td>{{order.discount}} %</td>
          <td>{{order.noIvaPrice | currency: 'EUR':'symbol':'1.2-3':'it'}}</td>
          <td>{{order.iva}} %</td>
          <td>{{order.ivaPrice | currency: 'EUR':'symbol':'1.2-2':'it'}}</td>
        </tr>
        </tbody>
      </table>

      <div class="row col-sm-12 mt-2" *ngIf="itemsOrder[dn]">
        <div *ngIf="itemsOrder[dn].showBuilding === true">
          <label class="mr-2">Seleziona il cantiere
            <select [(ngModel)]="itemsOrder[dn].building.name" (change)="hideConfirm = true;">
              <option *ngFor="let el of buildings" [ngValue]="el.name">{{el.name}}
              </option>
            </select>
          </label>

          <ng-container *ngIf="ddts && ddts.length > 1">
            <label>Seleziona il DDT
              <select [(ngModel)]="itemsOrder[dn].selDDT" (change)="hideConfirm = true;">
                <option *ngFor="let ddt of ddts" [ngValue]="ddt.id">{{ddt.NumeroDDT}} del {{ddt.DataDDT |
                  date:'dd/MM/yyyy'}}
                </option>
              </select>
            </label>
          </ng-container>

          <button type="button" class="button ml-2" *ngIf="itemsOrder[dn].building"
                  [disabled]="!itemsOrder[dn].building.name"
                  (click)="assignBuilding(itemsOrder[dn], dn); hideConfirm = false;">
            Conferma
          </button>
        </div>
      </div>

      <div class="col-12" [hidden]="hideConfirm">
        <p class="mt-2 green" *ngIf="itemsOrder[dn].assignResult === 'OK'">
          Prodotti assegnati correttamente al cantiere: <strong>{{itemsOrder[dn].building.name}}</strong>
        </p>
        <p class="mt-2 red" *ngIf="itemsOrder[dn].assignResult === 'KO'">
          <strong>Errore nell'assegnazione dei prodotti al cantiere: {{itemsOrder[dn].building.name}}</strong>
        </p>
      </div>

      <div class="col-sm-12">
        <button type="button" class="button mt-2"
                (click)="itemsOrder[dn].showBuilding = true; itemsOrder[dn].building = {'name': ''};">
          Assegna cantiere
        </button>
      </div>
    </div>
  </div>
</div>
