<div class="form_wrapper">
  <form #addForm="ngForm">
    <div class="row">
      <div class="col22">
        <label for="name">Nome</label>
        <input type="text" id="name" name="name" [(ngModel)]="model.name" placeholder="Nome" required>
      </div>
      <div class="col22">
        <label for="startDate">Data inizio</label>
        <input
          name="startDate"
          id="startDate"
          class="form-control"
          type="text"
          mwlFlatpickr
          [(ngModel)]="model.startDate"
          [altInput]="true"
          [locale]="locale"
          dateFormat="Y-m-d"
          altFormat="d/m/Y"
          [allowInput]="true"
          placeholder="Non impostata">
      </div>
      <div class="col22">
        <label for="endDate">Data fine</label>
        <input
          name="endDate"
          id="endDate"
          class="form-control"
          type="text"
          mwlFlatpickr
          [(ngModel)]="model.endDate"
          [altInput]="true"
          [locale]="locale"
          dateFormat="Y-m-d"
          altFormat="d/m/Y"
          [allowInput]="true"
          placeholder="Non impostata">
      </div>
    </div>

    <div class="row">
      <div class="col22">
        <label for="city">Città</label>
        <input type="text" id="city" name="city" [(ngModel)]="model.address.city" placeholder="Noci">
      </div>

      <div class="col22">
        <label for="addressType">Tipo indirizzo</label>
        <div class="input_field">
          <select id="addressType" name="addressType" [(ngModel)]="model.address.addressType">
            <option disabled selected value></option>
            <option value="Contrada">Contrada</option>
            <option value="Corso">Corso</option>
            <option value="Largo">Largo</option>
            <option value="Piazza">Piazza</option>
            <option value="Piazzale">Piazzale</option>
            <option value="Piazzetta">Piazzetta</option>
            <option value="Via">Via</option>
            <option value="Viale">Viale</option>
            <option value="Vico">Vico</option>
            <option value="Vicolo">Vicolo</option>
            <option value="Zona">Zona</option>
          </select>
        </div>
      </div>

      <div class="col22">
        <label for="addressName">Indirizzo</label>
        <input type="text" id="addressName" name="addressName" [(ngModel)]="model.address.addressName"
               placeholder="Benedetto Croce">
      </div>
      <div class="col15">
        <label for="addressNumber">Numero</label>
        <input type="text" id="addressNumber" name="addressNumber" [(ngModel)]="model.address.addressNumber"
               placeholder="15">
      </div>
    </div>

    <div class="row">
      <div class="col22">
        <label for="cap">CAP</label>
        <input type="text" id="cap" name="cap" [maxlength]="5" [(ngModel)]="model.address.cap" placeholder="70015">
      </div>
      <div class="col22">
        <label for="province">Provincia</label>
        <input type="text" id="province" name="province" [(ngModel)]="model.address.province" placeholder="BA">
      </div>
      <div class="col22">
        <label for="state">Stato</label>
        <input type="text" id="state" name="state" [(ngModel)]="model.address.state" placeholder="Italia">
      </div>
      <div class="col22">
        <label for="state">Importo offerta</label>
        <input type="number" step="0.01" min="0" id="reqAmount" name="reqAmount" [(ngModel)]="model.reqAmount"
               (blur)="this.model.reqAmount = utils.fixAmount(this.model.reqAmount)"
               placeholder="10.000 €" required>
      </div>
    </div>

    <div class="row">
      <div class="col_full">
        <input class="button" type="reset" value="Pulisci">
        <input class="button" type="button" [disabled]="!addForm.valid" (click)="sendBuilding()" value="Conferma">
      </div>
    </div>
  </form>
</div>
