<app-confirm-dialog></app-confirm-dialog>

<div *ngIf="!showBuildingOrd && !showBuildingWorkers">
  <!--<a href="https://www.basisystems.com/pilates-equipment/options/sitting-box">Style</a>-->

  <div class="row" style="margin: 0">
    <div class="col-6">
      <button type="button" class="button" (click)="closePanel()">
        {{addPanel ? 'Chiudi pannello' : 'Aggiungi cantiere'}}
      </button>
    </div>

    <div class="col-6 align-items-center">
      <div class="float-right">
        <span>Filtra per </span>
        <button type="button" class="button"
                [ngStyle]="{'background-color': section['open'] === true ? 'lightyellow' : 'white'}"
                (click)="section['open'] = !section['open']">Cantieri aperti
        </button>
        <button type="button" class="button"
                [ngStyle]="{'background-color': section['close'] === true ? 'lightyellow' : 'white'}"
                (click)="section['close'] = !section['close']">Cantieri chiusi
        </button>
      </div>
    </div>
  </div>

  <div class="card" *ngIf="addPanel">
    <app-building-form [model]="buildingToUpd" (submit)="addBuilding($event)"></app-building-form>
  </div>
</div>

<div *ngIf="buildings.length > 0">
  <ul class="cards">
    <li class="cards_item" *ngFor="let building of getBuildings(section)">
      <div class="card">
        <!--<div class="card_image" [style.background]="'url(/assets/images/cantieri/' + getImage(building.id) + ')'"></div>-->
        <div class="card_content">
          <div class="row">
            <div class="card_title col-sm-10">{{building.name}}</div>
            <div class="col-sm-2">
              <a><img src="assets/images/edit.png" alt="Modifica" title="Modifica cantiere" (click)="edit(building)"></a>
            </div>
          </div>
          <div class="parentDiv">
            <div class="card_text">
              <strong>Data inizio : </strong> {{building.startDate | date:'dd/MM/yyyy'}} <br/>
              <strong>Data fine : </strong> {{building.endDate | date:'dd/MM/yyyy'}} <br/>
              <strong>Aperto : </strong> {{building.open ? 'SI' : 'NO'}} <br/>
              <div [hidden]="!isValidAddress(building.address)">
                <strong>Indirizzo : </strong> {{building.address.addressType}} {{building.address.addressName}},
                {{building.address.addressNumber}}<br/>
                {{building.address.city}} {{building.address.cap}} {{building.address.province}}
                {{building.address.state}}
              </div>
            </div>
          </div>
          <div *ngIf="building.details">
            <app-generic-table [records]="projects" [settings]="projectSettings" [header]="header"></app-generic-table>
            <div class="mt10" *ngIf="building.details">
              <p style="margin: 0">
                <strong>{{workedHours}}</strong> ore di lavoro = <strong>{{workedHours/8}}</strong> giorni di lavoro
              </p>
            </div>
          </div>
          <div class="parentDiv">
            <div class="float-right">
              <a><img src="assets/images/search.png" alt="Cerca" class="mt10" [hidden]="building.details"
                      title="Dettagli" (click)="getBuildingDet(building)"></a>
              <a><img src="assets/images/man32.png" alt="Operai" class="mt10 ml10" title="Assegna operai"
                      (click)="assignWorker(building)"></a>
              <a><img src="assets/images/paint-bucket.png" alt="Ordini" class="mt10 ml10" title="Mostra ordini"
                      (click)="getOrders(building); getDetailsOfSel()"></a>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>

<div class="container" *ngIf="showBuildingOrd">
  <div class="row m-0">
    <h2 class="col-sm-11 text-center">{{buildingSel.name | titlecase}}</h2>
    <button class="col-sm-1 button float-right mb10" (click)="resetView()">Indietro</button>
  </div>
  <div class="row p-0">
    <app-search-bar class="col-sm-4 form-inline" (searchEvent)="fetchResults($event)"></app-search-bar>
    <div class="col-sm-8 form-inline align-items-baseline justify-content-end">
      <select class="col-6 form-control" [(ngModel)]="ddtSel">
        <option disabled selected [ngValue]="undefined">Filtra per DDT</option>
        <option *ngFor="let ddt of ddts | keyvalue" [ngValue]="ddt.key">{{ddt.key}}
        </option>
      </select>
      <button class="button col-auto ml-2" (click)="ddtSel = undefined">Pulisci</button>
    </div>
  </div>
  <div class="mt-3" *ngFor="let ddt of ddts | keyvalue">
    <ng-container *ngIf="!ddtSel || ddtSel === ddt.key">
      <div [hidden]="!checkSearch(ddt.value)">
          <h6 class="center font-weight-bold">{{ddt.key}}</h6>
          <table class="redTable">
            <thead>
            <tr>
              <th *ngFor="let c of orderColumns; trackBy: c">{{c}}</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <ng-template ngFor let-order [ngForOf]="ddt.value | filtername: searchString : false">
              <tr>
                <td>{{order.name}}</td>
                <td>{{order.um | uppercase}}</td>
                <td>{{order.quantity}}</td>
                <td>{{order.price | currency: 'EUR':'symbol':'1.2-3':'it'}}</td>
                <td>{{order.discount}} %</td>
                <td>{{order.noIvaPrice | currency: 'EUR':'symbol':'1.2-3':'it'}}</td>
                <td>{{order.iva}} %</td>
                <td>{{order.ivaPrice | currency: 'EUR':'symbol':'1.2-2':'it'}}</td>
                <td>
                  <button (click)="updateOrder(order, ddt)">Rimuovi</button>
                </td>
              </tr>
            </ng-template>
            </tbody>
          </table>
      </div>
    </ng-container>
  </div>

  <table class="redTable mt-5">
    <thead>
    <tr>
      <th>Totale dei materiali (NO IVA)</th>
      <th>IVA</th>
      <th>Totale materiali (CON IVA)</th>
    </tr>
    </thead>
    <tbody>
    <tr class="recap">
      <td><strong>{{orderSum | currency: 'EUR':'symbol':'1.2-3':'it'}}</strong></td>
      <td><strong>{{orderIvaSum - orderSum | currency: 'EUR':'symbol':'1.2-2':'it'}}</strong></td>
      <td><strong>{{orderIvaSum | currency: 'EUR':'symbol':'1.2-2':'it'}}</strong></td>
    </tr>
    </tbody>
  </table>

  <button class="button mt10 float-right" style="margin-bottom: 50px" (click)="resetView()">Indietro</button>
</div>

<div class="container" *ngIf="showBuildingWorkers">
  <div class="row m-0">
    <h2 class="col-sm-10 offset-sm-1 center">{{buildingSel.name | titlecase}}</h2>
    <button class="col-sm-1 button float-right mb10" (click)="resetView()">Indietro</button>
  </div>
  <table class="redTable">
    <thead>
    <tr>
      <th>Operaio</th>
      <th>Data di lavoro</th>
      <th>Ore di lavoro</th>
      <th colspan="2"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let job of jobs; trackBy: job">
      <td>
        <select [(ngModel)]="job.workerId" class="form-control" required>
          <option disabled selected value></option>
          <option *ngFor="let w of workers; trackBy: w" [ngValue]="w.id">{{w.surname}} {{w.name}}</option>
        </select>
      </td>
      <td>
        <input [(ngModel)]="job.dateOfWork"
               name="work_date"
               id="work_date"
               class="form-control"
               type="text"
               mwlFlatpickr
               [altInput]="true"
               [locale]="locale"
               dateFormat="Y-m-d"
               altFormat="d/m/Y"
               [allowInput]="true"
               placeholder="Non impostata">
      </td>
      <td>
        <select [(ngModel)]="job.hoursOfWork" class="form-control" required>
          <option disabled selected value></option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
      </td>
      <td>
        <button (click)="updateWorker(buildingSel, job)">Conferma</button>
      </td>
      <td>
        <button (click)="deleteRow(job)">Rimuovi</button>
      </td>
    </tr>
    </tbody>
  </table>

  <button class="button mt10 float-right" style="margin-bottom: 50px" (click)="resetView()">Indietro</button>
</div>
