<a href="https://www.basisystems.com/pilates-equipment/options/sitting-box">Style</a>
<h2>Cantieri</h2>

<button type="button" class="button" (click)="addPanel = !addPanel;">Aggiungi cantiere</button>
<div class="card" *ngIf="addPanel">
  <app-building-form (submit)="addBuilding($event)"></app-building-form>
</div>

<div class="mt10" *ngIf="buildings.length === 0">
  <p>Non sono stati inseriti cantieri</p>
</div>

<div *ngIf="buildings.length > 0">
  <ul class="cards">
    <li class="cards_item" *ngFor="let building of buildings">
      <div class="card">
        <!--<div class="card_image" [style.background]="'url(/assets/images/cantieri/' + getImage(building.id) + ')'"></div>-->
        <div class="card_content">
          <div class="card_title">{{building.name}}</div>
          <div class="parentDiv">
            <div class="card_text">
              <strong>Data inizio : </strong> {{building.start_date | date:'dd/MM/yyyy'}} <br/>
              <strong>Data fine : </strong> {{building.end_date | date:'dd/MM/yyyy'}} <br/>
              <strong>Aperto : </strong> {{building.open ? 'SI' : 'NO'}} <br/>
              <div [hidden]="!isValidAddress(building.address)">
                <strong>Indirizzo : </strong> {{building.address.addressType}} {{building.address.addressName}},
                {{building.address.addressNumber}}<br/>
                {{building.address.city}} {{building.address.cap}} {{building.address.province}}
                {{building.address.state}}
              </div>
            </div>
            <div class="card_text" *ngIf="building.address.distance && building.address.timeToReach">
              <div class="card_box">
                <div style="border-bottom: 2px solid #7b2f3d;">
                  {{building.address.distance}}
                </div>
              </div>
              <div class="card_box">
                <div>
                  {{building.address.timeToReach}}
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="building.details">
            <h3>DETTAGLI</h3>
            <app-generic-table [records]="projects" [settings]="projectSettings"></app-generic-table>
          </div>
          <button class="button" [hidden]="building.details" (click)="getBuildingDet(building)">Dettagli</button>
        </div>
      </div>
    </li>
  </ul>
</div>
