<div class="form_wrapper">
  <form #addForm="ngForm">
    <div class="row">
      <div class="col-sm-4">
        <label for="plate">Veicoli disponibili</label>
        <select id="plate" name="plate" [(ngModel)]="vehicle.plate">
          <option disabled selected value>Veicoli</option>
          <option *ngFor="let v of vehicles;" [value]="v.plate">{{v.plate}} - {{v.brand}} {{v.model}}</option>
        </select>
      </div>

      <div class="col-sm-4">
        <label for="description">Descrizione</label>
        <input type="text" id="description" name="description" [(ngModel)]="vehicle.penalty[0].description"
               placeholder="Eccesso di velocità" required>
      </div>

      <div class="col-sm-3">
        <label for="registration_date">Data della multa</label>
        <input
          name="registration_date"
          id="registration_date"
          class="form-control"
          type="text"
          mwlFlatpickr
          [(ngModel)]="vehicle.penalty[0].deadlineDate"
          [altInput]="true"
          [locale]="locale"
          dateFormat="Y-m-d"
          altFormat="d/m/Y"
          [allowInput]="true"
          placeholder="Non impostata">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2">
        <label for="points">Punti decurtati</label>
        <input type="number" min="0" max="20" id="points" name="points" [(ngModel)]="vehicle.penalty[0].points"
               required>
      </div>

      <div class="col-sm-2">
        <label for="importoPen">Importo</label>
        <input type="number" step="0.01" min="0" id="importoPen" name="importoPen"
               [(ngModel)]="vehicle.penalty[0].amount"
               (blur)="this.vehicle.penalty[0].amount = utils.fixAmount(this.vehicle.penalty[0].amount)"
               placeholder="120,10 €" required>
      </div>

      <div class="col-sm-2">
        <label for="paid">Pagata</label>
        <select id="paid" name="paid" [(ngModel)]="vehicle.penalty[0].paid">
          <option value="false">NO</option>
          <option value="true">SI</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col_full">
        <input class="button" type="reset" value="Pulisci">
        <input class="button" type="button" [disabled]="!addForm.valid"
               (click)="sendPenalty(); addForm.reset();"
               value="Aggiungi">
      </div>
    </div>
  </form>
</div>
