<div class="form_wrapper">
  <form #addForm="ngForm">
    <h4>Dati anagrafici</h4>
    <div class="row">
      <div class="col-sm-3">
        <label for="name">Nome</label>
        <input type="text" id="name" name="name" [(ngModel)]="model.name" #name="ngModel" appUppercase required>
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
          <div *ngIf="name.errors.required">
            Il nome è obbligatorio.
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <label for="surname">Cognome</label>
        <input type="text" id="surname" name="surname" [(ngModel)]="model.surname" #surname="ngModel" appUppercase
               required>
        <div *ngIf="surname.invalid && (surname.dirty || surname.touched)" class="alert alert-danger">
          <div *ngIf="surname.errors.required">
            Il cognome è obbligatorio.
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <label for="fiscalCode">Codice fiscale</label>
        <input type="text" id="fiscalCode" name="fiscalCode" [(ngModel)]="model.fiscalCode"
               (blur)="completeFields(model.fiscalCode)" maxlength="16" #fiscalCode="ngModel"
               pattern="^[A-Za-z]{6}[A-Za-z0-9]{2}[A-Za-z][A-Za-z0-9]{2}[A-Za-z][A-Za-z0-9]{3}[A-Za-z]$" appUppercase
               required>
        <div *ngIf="fiscalCode.invalid && (fiscalCode.dirty || fiscalCode.touched)" class="alert alert-danger">
          <div *ngIf="fiscalCode.errors.required">
            Il codice fiscale è obbligatorio.
          </div>
          <div *ngIf="fiscalCode.errors.pattern">
            Il codice fiscale non è valido.
          </div>
        </div>
        <div *ngIf="model.fiscalCode">
          <div *ngIf="model.fiscalCode.substring(0, 3) !== surnameCode(model.surname)" class="alert alert-danger">
            Il cognome inserito non corrisponde al codice fiscale.
          </div>
          <div *ngIf="model.fiscalCode.substring(3, 6) !== nameCode(model.name)" class="alert alert-danger">
            Il nome inserito non corrisponde al codice fiscale.
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <label for="gender">Sesso</label>
        <div class="input_field">
          <select id="gender" name="gender" [(ngModel)]="model.gender">
            <option disabled selected value></option>
            <option value="M">Maschio</option>
            <option value="F">Femmina</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3">
        <label for="birthDate">Data nascita</label>
        <input name="birthDate" id="birthDate" class="form-control" type="text" mwlFlatpickr placeholder="Non impostata"
               [(ngModel)]="model.birthDate" [altInput]="true" [locale]="locale" dateFormat="Y-m-d" altFormat="d/m/Y"
               [allowInput]="true">
      </div>

      <div class="col-sm-3">
        <label for="birthPlace">Luogo di nascita</label>
        <input type="text" id="birthPlace" name="birthPlace" [(ngModel)]="model.birthPlace" required>
      </div>

      <div class="col-sm-3">
        <label for="birthProvPlace">Provincia di nascita</label>
        <input type="text" id="birthProvPlace" name="birthProvPlace" [(ngModel)]="model.birthProvPlace" required>
      </div>

      <div class="col-sm-3">
        <label for="married">Sposato</label>
        <div class="input_field">
          <select id="married" name="married" [(ngModel)]="model.married" #married="ngModel" required>
            <option disabled selected value></option>
            <option [value]="true">SI</option>
            <option [value]="false">NO</option>
          </select>
          <div *ngIf="married.invalid && (married.dirty || married.touched)" class="alert alert-danger">
            <div *ngIf="married.errors.required">
              Lo stato civile è obbligatorio.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3">
        <label for="telephone">Cellulare</label>
        <input type="tel" id="telephone" name="telephone" [(ngModel)]="model.contacts.telephone" maxlength="10"
               pattern="^3\d{8,9}$" #telephone="ngModel" required>
        <div *ngIf="telephone.invalid && (telephone.dirty || telephone.touched)" class="alert alert-danger">
          <div *ngIf="telephone.errors.required">
            Il numero di telefono è obbligatorio.
          </div>
          <div *ngIf="telephone.errors.pattern">
            Il numero di telefono inserito non è valido.
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" [(ngModel)]="model.contacts.email"
               pattern="[-0-9a-zA-Z.+_]+@[-0-9a-zA-Z.+_]+\.[a-zA-Z]{2,4}" #email="ngModel">
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
          <div *ngIf="email.errors.pattern">
            L'email inserita non è valida.
          </div>
        </div>
      </div>
    </div>

    <h4>Dati contratto</h4>
    <div class="row">
      <div class="col-sm-3">
        <label for="ctrType">Tipo di Contratto</label>
        <select id="ctrType" name="ctrType" [(ngModel)]="model.contractTerms.contractType" #ctrType="ngModel"
                required>
          <option disabled selected value></option>
          <option value="INDETERMINATO">Contratto a tempo indeterminato</option>
          <option value="DETERMINATO">Contratto a tempo determinato/termine</option>
          <option value="SOMMINISTRAZIONE">Contratto di somministrazione</option>
          <option value="CHIAMATA">Contratto a chiamata</option>
          <option value="VOUCHER">Voucher</option>
          <option value="APPRENDISTATO">Apprendistato</option>
          <option value="PART_TIME">Part-time</option>
          <option value="PROGETTO">Contratto a progetto</option>
          <option value="TIROCINIO">Tirocinio formativo</option>
        </select>
        <div *ngIf="ctrType.invalid && (ctrType.dirty || ctrType.touched)" class="alert alert-danger">
          <div *ngIf="ctrType.errors.required">
            Il tipo di contratto dell'operaio è obbligatorio.
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <label for="qualification">Qualifica</label>
        <select id="qualification" name="qualification" [(ngModel)]="model.contractTerms.qualification"
                #qualification="ngModel" required>
          <option disabled selected value></option>
          <option value="OPERAIO_COM">Operaio comune</option>
          <option value="OPERAIO_QUAL">Operaio qualificato</option>
          <option value="OPERAIO_SPE">Operaio specializzato</option>
          <option value="IMPIEGATO">Impiegato</option>
          <option value="QUADRO">Quadro</option>
          <option value="DIRIGENTE">Dirigente</option>
        </select>
        <div *ngIf="qualification.invalid && (qualification.dirty || qualification.touched)" class="alert alert-danger">
          <div *ngIf="qualification.errors.required">
            La qualifica dell'operaio è obbligatoria.
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <label for="recruitmentDate">Data assunzione</label>
        <input name="recruitmentDate" id="recruitmentDate" class="form-control" type="text" mwlFlatpickr
               [(ngModel)]="model.contractTerms.recruitmentDate" [altInput]="true" [locale]="locale" dateFormat="Y-m-d"
               altFormat="d/m/Y" [allowInput]="true">
      </div>

      <div class="col-sm-3">
        <label for="dismissalDate">Data licenziamento</label>
        <input name="dismissalDate" id="dismissalDate" class="form-control" type="text" mwlFlatpickr
               [(ngModel)]="model.contractTerms.dismissalDate" [altInput]="true" [locale]="locale" dateFormat="Y-m-d"
               altFormat="d/m/Y" [allowInput]="true">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3">
        <label for="seniority">Lavora per Rinova SRL da</label>
        <input type="text" id="seniority" [value]="calcSeniority()" disabled>
      </div>

      <div class="col-sm-3">
        <label for="salaryForHour">Costo orario</label>
        <input type="number" step="0.01" min="0" id="salaryForHour" name="salaryForHour"
               [(ngModel)]="model.salary.salaryForHour" placeholder="12,5 €" #salaryForHour="ngModel"
               (blur)="model.salary.salaryForHour = utils.fixAmount(this.model.salary.salaryForHour)" required>
        <div *ngIf="salaryForHour.invalid && (salaryForHour.dirty || salaryForHour.touched)" class="alert alert-danger">
          <div *ngIf="salaryForHour.errors.required">
            Il costo giornaliero è obbligatorio.
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <label for="salaryForDay">Costo giornaliero</label>
        <input type="number" step="0.01" min="0" id="salaryForDay" name="salaryForDay"
               [(ngModel)]="model.salary.salaryForDay" placeholder="100,00 €" #salaryForDay="ngModel"
               (blur)="model.salary.salaryForDay = utils.fixAmount(this.model.salary.salaryForDay)" required>
        <div *ngIf="salaryForDay.invalid && (salaryForDay.dirty || salaryForDay.touched)" class="alert alert-danger">
          <div *ngIf="salaryForDay.errors.required">
            Il costo giornaliero è obbligatorio.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <input class="button float-right" type="reset" value="Pulisci">
        <input class="button float-right" type="button" [disabled]="addForm.invalid" (click)="sendWorker()"
               value="Aggiungi">
      </div>
    </div>
  </form>
</div>
