<button type="button" class="button" (click)="addPanel = !addPanel;">
  {{addPanel ? 'Chiudi pannello' : 'Aggiungi ordine'}}
</button>
<div class="mb10" *ngIf="addPanel">
  <div class="form_wrapper card">
    <form [formGroup]="addOrderFG" (submit)="addOrder()">
      <div class="row">
        <div class="col44">
          <label for="name">Descrizione</label>
          <input type="text" id="name" auto-complete [formControlName]="'name'" [source]="products"
                 list-formatter="name" (valueChanged)="updateProduct($event)"
                 no-match-found-text="Nessun risultato trovato"/>

          <div *ngIf="name && name.invalid && (name.dirty || name.touched)" class="error">
            <div *ngIf="name.errors.required">
              Inserire il nome del prodotto.
            </div>
            <div *ngIf="name.errors.minlength">
              Il nome del prodotto deve essere lungo almeno 3 caratteri.
            </div>
          </div>
        </div>

        <div class="col22">
          <app-select-um [group]="addOrderFG"></app-select-um>

          <div *ngIf="um && um.invalid && (um.dirty || um.touched)" class="error">
            <div *ngIf="um.errors.required">
              Inserire l'unità di misura del prodotto.
            </div>
          </div>
        </div>

        <div class="col22">
          <label for="quantity">Quantità</label>
          <input type="number" step="0.01" min="0" id="quantity" [formControlName]="'quantity'"
                 (blur)="formatValue('quantity');"
                 (change)="calcDiscount(this.addOrderFG.value.price, this.addOrderFG.value.noIvaPrice, this.addOrderFG.value.quantity)"/>

          <div *ngIf="quantity && quantity.invalid && (quantity.dirty || quantity.touched)" class="error">
            <div *ngIf="quantity.errors.required">
              Inserire la quantità del prodotto.
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col22">
          <label for="price">Prezzo unit. senza IVA (€)</label>
          <input type="number" step="0.01" min="0" id="price" [formControlName]="'price'"
                 (blur)="formatValue('price')"
                 (change)="calcDiscount(this.addOrderFG.value.price, this.addOrderFG.value.noIvaPrice, this.addOrderFG.value.quantity)"/>

          <div *ngIf="price && price.invalid && (price.dirty || price.touched)" class="error">
            <div *ngIf="price.errors.required">
              Inserire il prezzo unitario del prodotto.
            </div>
          </div>
        </div>

        <div class="col22">
          <label for="noIvaPrice">Prezzo totale senza IVA (€)</label>
          <input type="number" step="0.01" min="0" id="noIvaPrice" [formControlName]="'noIvaPrice'"
                 (blur)="formatValue('noIvaPrice')"
                 (change)="calcDiscount(this.addOrderFG.value.price, this.addOrderFG.value.noIvaPrice, this.addOrderFG.value.quantity)"/>

          <div *ngIf="noIvaPrice && noIvaPrice.invalid && (noIvaPrice.dirty || noIvaPrice.touched)" class="error">
            <div *ngIf="noIvaPrice.errors.required">
              Inserire il prezzo totale del prodotto.
            </div>
          </div>
        </div>

        <div class="col22">
          <label for="iva">IVA (%)</label>
          <input type="number" step="0.01" min="0" id="iva" [formControlName]="'iva'"
                 (blur)="formatValue('iva')"/>

          <div *ngIf="iva && iva.invalid && (iva.dirty || iva.touched)" class="error">
            <div *ngIf="iva.errors.required">
              Inserire l'IVA del prodotto.
            </div>
          </div>
        </div>

        <div class="col22">
          <label for="discount">Sconto (%)</label>
          <input type="number" id="discount" [formControlName]="'discount'"/>
        </div>
      </div>

      <div class="row">
        <div class="col22">
          <label for="ivaPrice">Prezzo totale con IVA (€)</label>
          <input type="number" id="ivaPrice" [formControlName]="'ivaPrice'" (blur)="formatValue('ivaPrice')"/>
        </div>

        <div class="col22">
          <label for="date_order">Data acquisto </label>
          <!--<input type="date" id="date_order" [formControlName]="'date_order'" min="2018-01-01"/>-->
          <input
            id="date_order"
            class="form-control"
            type="text"
            mwlFlatpickr
            [formControlName]="'date_order'"
            [altInput]="true"
            [locale]="locale"
            dateFormat="Y-m-d"
            altFormat="d/m/Y"
            [allowInput]="true"
            placeholder="Non impostata">

          <div *ngIf="date_order && date_order.invalid && (date_order.dirty || date_order.touched)" class="error">
            <div *ngIf="date_order.errors.required">
              Inserire la data di acquisto del prodotto.
            </div>
            <div *ngIf="date_order.errors.maxlength">
              Inserire una data valida.
            </div>
          </div>
        </div>

        <div class="col22">
          <app-select-provider [group]="addOrderFG"></app-select-provider>

          <div *ngIf="provider && provider.invalid && (provider.dirty || provider.touched)" class="error">
            <div *ngIf="provider.errors.required">
              Inserire il fornitore del prodotto.
            </div>
          </div>
        </div>

        <div class="col22">
          <app-select-building [group]="addOrderFG"></app-select-building>
          <div *ngIf="building_id && building_id.invalid && (building_id.dirty || building_id.touched)" class="error">
            <div *ngIf="building_id.errors.required">
              Inserire il cantiere a cui è assegnato il prodotto.
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div>
          <input class="button" type="button" value="Calcola IVA" (click)="calcIVA()">
        </div>
        <div class="ml-auto">
          <input class="button" type="reset" value="Pulisci">
          <input class="button" type="submit" value="Aggiungi" [disabled]="!addOrderFG.valid">
        </div>
      </div>
    </form>
  </div>
</div>

<div class="mt10" *ngIf="products.length === 0">
  <p>Non ci sono prodotti censiti</p>
</div>
<div *ngIf="products.length > 0">
  <app-table></app-table>
</div>
