<head>
  <meta charset="UTF-8">
  <meta name="description" content="Gestione Cantieri">
  <meta name="author" content="Claudio Fusillo">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<header>
  <div style="float: left; margin-right: 20px;">
    <div class="snip1285">
      <h1>Gestione</h1>
      <h5>Cantieri</h5>
    </div>
  </div>
  <div style="float: right">
    <h1>{{appTitle}}</h1>
  </div>
</header>
<nav class="mainNav">
  <ul>
    <li>
      <a routerLink="/cantieri" routerLinkActive="active-link">CANTIERI</a>
    </li>
    <li>
      <a routerLink="/aggiungi-fattura" routerLinkActive="active-link">AGGIUNGI FATTURA</a>
    </li>
    <li>
      <a routerLink="/lista-prodotti" routerLinkActive="active-link">LISTA PRODOTTI</a>
    </li>
    <li>
      <a routerLink="/scadenze" routerLinkActive="active-link">SCADENZE</a>
    </li>
    <li>
      <a routerLink="/operai" routerLinkActive="active-link">OPERAI</a>
    </li>
    <li>
      <a routerLink="/squadre" routerLinkActive="active-link">SQUADRE</a>
    </li>
    <li>
      <a routerLink="/mezzi-attrezzature" routerLinkActive="active-link">MEZZI / ATTREZZATURE</a>
    </li>
    <li>
      <a routerLink="/utili" routerLinkActive="active-link">UTILI</a>
    </li>
  </ul>
</nav>
